html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181c24;
  color: #fff;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

#app {
  min-height: 100vh;
}
